*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.navbar div 
{
  margin-right: 900px;
  color: #fff;
  font-size: 20px;
}
.navbar
{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: space-between;
  background-color: rgb(61, 198, 239);
  padding: 10px 20px;
  gap: 20px;
  
}
.navbar a
{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.navbar a:hover
{
   color: aqua;
}
.landing
{
    background: url("./pic5.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.landing h1
{
   text-align: center;
   font-size: 60px;
   color: rgb(207, 216, 225);
   padding-top: 210px;
}
.landing p
{
  text-align: center;
  font-size: 25px;
  color: #fff;
  padding-top: 10px;
  font-style: italic;
}
.landing button{
padding: 10px 10px;
margin-top: 20px;
color: rgb(5, 5, 5,0.8);
cursor: pointer;
}
.cardcontainer
{
  margin-top: 10px;
    display: flex;
    justify-self: center;
    gap: 50px;
    flex-wrap: nowrap;
}
h2
{
  margin-top: 25px;
  margin-bottom: 25px;
}
.card
{
  background: #ede9e9;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
}
.card p
{
     margin-top: 10px;
     margin-left: 25px;
}
.card img
{

  border-radius: 12px;
}
.card-btn
{
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 100px;
  margin-top: 20px;
  background-color: lightblue;
  border-radius: 20px;
  margin-left: 95px;
  margin-bottom: 10px;
}

footer{
  background: #333;
  color: #fff;
  text-align: center;
  padding: 25px;
  margin-top: 20px;
}

footer-info
{
  margin: 0 0 15px
}
footer-info p
{
 font-size: 1rem;
 color: #ccc;
}
/* group selector */
/* h1,p{
  color:red;
} */